
.headPic{
  position: relative;
  float: right;
  width: 46px;
  height: 46px;
  border-radius:23px;
  .headModalWhite{
    position: absolute;
    top: 2px;
    left: -1px;
    width: 27px;
    height: 27px;
    border-radius:23px;
    border:2px solid rgba(255,255,255,1);
    display: none;
  }
  img{
    width: 100%;
    height: 100%;
    border-radius:23px;
  }
  .headModal{
    position: absolute;
    top: 44px;
    right: 0px;
    width: 212px;
    z-index: 999;
    overflow: hidden;
    display: none;
    .headModalMain{
      width: 100%;
      float: right;
      background-color: #ffffff;
      border-radius: 10px;

      padding: 10px 14px 14px 14px;
      .headModalMainPic{
        width: 100%;
        display: flex;
        color: #333333;
        font-size:14px;
        font-weight:500;
        margin-bottom: 12px;
        img {
          width:46px;
          height:46px;
          border-radius:23px;
          margin-right: 10px;
        }
      }
      .headModalMainUrl{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .headModalMainItem{
          width: 87px;
          height: 28px;
          line-height: 28px !important;
          background:rgba(237,250,255,0.4);
          border-radius:4px;
          margin-bottom: 10px;
          font-size:12px;
          color:#333333;
          font-family:PingFangSC-Regular,PingFang SC;
          font-weight:400;
          cursor: pointer;
          padding: 0 9px;
          img{
            width: 9px;
            height: 10px;
            margin: 2px 12px 0 0;
            display: inline-block;
            border-radius: 0;
          }
        }
        .headModalMainItem:hover{
          background:rgba(235,249,255,1);
        }
        
      }
      .headModalOut{
        height: 14px;
        line-height: normal;
        font-size:12px;
        font-family:PingFangSC-Regular,PingFang SC;
        font-weight:400;
        color:rgba(153,153,153,1);
        cursor: pointer;
      }

    }
    
  }
  .headModal:before {
    content:'';
    display: block;
    float: right;
    width:0px;
    height: 0px;
    margin-right: 13px;
    // background-color: red;
    border-width:10px;
    border-style:solid;  /*ie6下会出现不透明的兼容问题*/
    border-color:transparent transparent #ffffff transparent;
  }
}
.headPicD{
  width: 26px;
  height: 26px;
  border-radius:23px;
}
// .headPic:hover{
//   border:2px solid rgba(255,255,255,1);
// }
.headPic:hover .headModal{
  display: block;
  
}

.headModalD{
  top: 23px !important;
  right: -8px !important;
}

// .headPic:hover .headModalWhite{
//   display: block;

// }