.newHeadNav{
  height:44px;
  .headNavArea {
    width: 1190px;
    width: 100%;
    min-width: 1190px;
    height: 44px;
    line-height: 44px;
    background: #000;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    color: #fff;
    font-family: 'PingFangSC-Medium';
    .nav {
      width: 1190px;
      height: 100%;
      margin: 0 auto;
      .nav-menu {
        float: left;
      }
      .phone400 {
        float: right;
        i {
          float: left;
          width: 14px;
          height: 14px;
          background: url('https://img.kaikeba.com/web/kkb_index/img_index_%E7%94%B5%E8%AF%9D.png') no-repeat center;
          background-size: contain;
          margin: 14px 4px 0 0;
        }
      }
      .learnCenter {
        float: right;
        cursor: pointer;
        font-size: 12px;
        font-family: 'PingFangSC-Medium';
        margin-left: 35px;
        opacity: .5;
        -webkit-transition: .3s opacity;
        -o-transition: .3s opacity;
        transition: .3s opacity;
        &:hover{
          background: transparent;
          opacity: 1;
          color:#fff;
        }
      }
      .all-course {
        background: rgba(0,0,0,.7);
      }
    }
  }

  .navMenu {
    .pcNormalLi {
      margin-right: 30px;
      float: left;
      cursor: pointer;
      position: relative;
      a {
        display: block;
        font-size: 12px;
        letter-spacing: .41px;
        color: #fff;
        opacity: .5;
        padding: 0;
      }
      .navActive{
        opacity: 1;
      }
      .hot {
        position: absolute;
        width: 24px;
        height: 13px;
        background: url('https://img.kaikeba.com/web/kkb_index/img_index_hot.png') no-repeat center;
        background-size: contain;
        top: 5px;
        right: -6px;
      }
    }
    .pcNormalLi:hover {
      a{
        background: transparent;
        opacity: 1;
        color:#fff;
      }
    }
  }
  .navHeadFloats{
    margin:8px 11px 0 36px;
    float:right;
    cursor pointer
  }

  .enterprise {
    float: right;
    cursor: pointer;
    font-size: 12px;
    font-family: 'PingFangSC-Medium';
    margin-left: 35px;
    opacity: .5;
    -webkit-transition: .3s opacity;
    -o-transition: .3s opacity;
    transition: .3s opacity;
    &:hover{
      background: transparent;
      opacity: 1;
      color:#fff;
    }
  }
}