:global(.imglazy-load-wrap) {
  width: 100%;
  /* position: relative;
  display: inline-block;
  overflow: hidden; */
}

:global(.imglazy-load-image-init) {
  width: 100%;
  filter: blur(20px);
}

:global(.imglazy-load-image-loaded) {
  width: 100%;
  filter: blur(20px);
  animation: imgLazyAniblur 2.6s ease 1;
  animation-fill-mode: both;
}

/* :global() */
@keyframes imgLazyAniblur {
  form {
    filter: blur(20px);
  }
  to {
    filter: blur(0px);
  }
}
