.modalHeader {
  text-align: center;
  color: #333;
  font-size: 18px;
  font-weight: 700;
}

:global{
  .ant-row {
    display: block;
  }
  .ant-input {
    border: 1px solid transparent;
    background-color: #f8f8f8;
    border-radius: 0;
  }
  .ant-form-item-label label {
    font-size: 14px;
  }
  .ant-modal {
    top: 0px;
  }
  .ant-form-item-label label:after {
    content: '';
  }
  .ant-input-lg {
    height: 42px;
  }
}
.subBox {
  width: 100%;
  margin-bottom: 20px;
  .btn2 {
    display: block;
    color: #ccc;
    width: 310px;
    height: 42px;
    text-align: center;
    background: #00acec;
    border-radius: 25px;
    opacity: 0.2;
    font-size: 14px;
    margin: 0 auto;
    text-decoration: none;
  }
  .btn2False {
    opacity: 1;
    color: #ffffff;
  }
}
  
.phoneInput {
  height: 42px;
}
.ant-modal-wrap {
  top: -15%;
}
